In [4]:
import os

import pandas as pd

In [7]:
DATA_PATH = './data/'

In [8]:
files = os.listdir(DATA_PATH)

In [9]:
files

['Hand-annotated - 2.xlsx',
 'Hand-annotated - 3.xlsx',
 'Changed_collocations - 2.xlsx',
 'Changed_collocations - 1.xlsx',
 'Hand-annotated - 1.xlsx']

## Hand-annotated

In [15]:
df = pd.read_excel(DATA_PATH + 'Hand-annotated - 1.xlsx')

In [17]:
df.fillna(0)

,id,title,альтернативный title,Humorousness,Appropriateness,Grammaticality
0,251118,"In Japan, a Liberal Maverick Is Seeking to Lea...","In Japan, a Liberal Maverick Is leaking to Lea...",1.0,1.0,2.0
1,134164,"Icahn, Ross saved Trump brand from Taj Mahal c...","Icahn, Ross saved Trump trend from Taj Mahal c...",2.0,3.0,3.0
2,49016,Reports: Mitt Romney to Meet President-Elect T...,Reports: Mitt Romney to beat President-Elect T...,3.0,2.0,3.0
3,268862,SpaceX Is Now One of the World’s Most Valuable...,SpaceX Is Now One of the World’s Most Valuable...,2.0,2.0,3.0
4,74399,The Atlantic Politics & Policy Daily: The Boys...,The Atlantic Politics & Policy Daily: The Boys...,2.0,1.0,1.0
...,...,...,...,...,...,...
65,213769,These Black Lives Matters protesters planned a...,These Black Lives Matters protesters planned a...,1.0,0.0,2.0
66,104403,Google Will Connect Public Housing Communities...,Google Will Connect Whore Housing Communities ...,0.0,0.0,0.0
67,44549,Texas Middle Schooler Takes Knee to Protest Pl...,Texas Middle Schooler Takes Refugees to Protes...,1.0,1.0,3.0
68,52115,"McCain, Graham give their view of Trump’s pres...","McCain, Graham give their view of Trump's hair...",3.0,1.0,3.0
69,170171,A Small Town Bands Together To Provide Opioid ...,Small Town Bands to Provide Opiod Addiction Fe...,2.0,1.0,3.0

In [21]:
result_df = pd.DataFrame()
for i in range(1,3):
    df = pd.read_excel(DATA_PATH + f'Hand-annotated - {i}.xlsx')
    df.fillna(0)
    df.columns = [f'{col}_{i}' for col in df.columns]
    result_df = pd.concat([result_df, df], axis=1)

In [24]:
result_df.head(1)

,id_1,title_1,альтернативный title_1,Humorousness_1,Appropriateness_1,Grammaticality_1,id_2,title_2,альтернативный title_2,Humorousness_2,Appropriateness_2,Grammaticality_2
0,251118,"In Japan, a Liberal Maverick Is Seeking to Lea...","In Japan, a Liberal Maverick Is leaking to Lea...",1.0,1.0,2.0,251118,"In Japan, a Liberal Maverick Is Seeking to Lea...","In Japan, a Liberal Maverick Is leaking to Lea...",1.0,2.0,3

In [25]:
needed_columns = ['Humorousness', 'Appropriateness', 'Grammaticality']

for col in needed_columns:
    result_df[f'sum_{col}'] = 0

for col in needed_columns:
    for i in range(1,3):
        result_df[f'sum_{col}'] += result_df[f'{col}_{i}']
        
for col in needed_columns:
    result_df[f'sum_{col}'] /= 2

    
for col in needed_columns:
    print(col, result_df[f'sum_{col}'].mean())

Humorousness 1.4090909090909092
Appropriateness 1.4090909090909092
Grammaticality 2.8656716417910446

## Changed_collocations

In [26]:
result_df = pd.DataFrame()
for i in range(1,3):
    df = pd.read_excel(DATA_PATH + f'Changed_collocations - {i}.xlsx')
    df.fillna(0)
    df.columns = [f'{col}_{i}' for col in df.columns]
    result_df = pd.concat([result_df, df], axis=1)

In [27]:
result_df.head(1)

,example_id_1,sent_id_1,sent_1,span_1,original_collocation_1,changed_collocation_1,Humorousness_1,Appropriateness_1,Grammaticality_1,example_id_2,sent_id_2,sent_2,span_2,original_collocation_2,changed_collocation_2,Humorousness_2,Appropriateness_2,Grammaticality_2
0,0,0,melania trump says white house could mean mill...,"(5, 6)","('could_VERB', 'mean_VERB')","('could_VERB', 'resurface_VERB')",1,3,3,0,0,melania trump says white house could mean mill...,"(5, 6)","('could_VERB', 'mean_VERB')","('could_VERB', 'resurface_VERB')",0.0,2.0,3.0

In [28]:
needed_columns = ['Humorousness', 'Appropriateness', 'Grammaticality']

for col in needed_columns:
    result_df[f'sum_{col}'] = 0

for col in needed_columns:
    for i in range(1,3):
        result_df[f'sum_{col}'] += result_df[f'{col}_{i}']
        
for col in needed_columns:
    result_df[f'sum_{col}'] /= 2

    
for col in needed_columns:
    print(col, result_df[f'sum_{col}'].mean())

Humorousness 0.7666666666666667
Appropriateness 1.7666666666666666
Grammaticality 2.096296296296296